
.left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
}
.right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
}

.description {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.details {
    background-color: var(--dark);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    padding: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6);
}