.card-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    max-width: 1000px;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    padding: 16px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.bio-content {
    max-width: 600px;

}

.bio h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    padding: 0;
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);


}

.tab-holder {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-bottom: 10px;
}

.hr {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--accent-light);
}
.hr2 {
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


.tab-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
    height: min-content;
    width: fit-content;
    padding: 8px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 12px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);  /* Outer shadow */
    max-width: 800px;
    border: 1px solid var(--black);
}

button {
    min-width: 75px;
    min-height: 50px;
    width: 100%;
    max-width: fit-content;
    background-color: var(--dark);
    color: var(--white);
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    border-radius: 8px;
    border: none; /* Border for hover and selected states */
    cursor: pointer;
    padding: 6px 10px;
    transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
    outline: none;

}

button.small {
    min-width: 75px;
    min-height: 25px;
    width: 100%;
    background-color: var(--light);
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
}
button:hover {
    background-color: var(--light) !important;
}

.tab {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) ;  /* Outer shadow */
}

.right {
    justify-content: right;
}

.left {
    justify-content: left;
}

/* Styling for the selected tab using aria-selected */
.tab:hover, .tab[aria-selected="true"] {
    background-color: var(--light);
    color: var(--accent-light);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3) ;  /* Outer shadow */
    transform: translateY(2px);
}

.row {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 12px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card {
    display: flex;
    position: relative;
    padding: 12px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 10px;
    gap: 10px;
    width: 100%;
    max-width: 90%;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3) ;  /* Outer shadow */
    border: 1px solid var(--black);
}

.centered {
    justify-content: center;
    align-items: center;
}

.tab-group {
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.title {
    font-size: 1.5rem; /* Smaller heading size for mobile */
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 8px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.to-top-button {
    width: 45px;
    min-width: 35px;
    height: 35px;
    min-height: 20px;

    justify-self: center;
    align-content: center;
    align-items: center;

    background-color: var(--black);
    color: var(--light);
    font-size: 14px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3), 0 0 5px var(--black);
}

.to-top-button:hover {
    color: var(--white);
}

@media (max-width: 768px) {
    body {
        background-attachment: scroll;
    }

    .tab-holder {
        flex-direction: column;
        gap: 4px;
    }

    .bio {
        font-size: 14px;
    }

    .bio-content {
        max-width: 500px;

    }

    .bio h1 {
        font-size: 3.5rem; /* Smaller heading size for mobile */
    }
    button {
        min-height: 30px;
        font-size: 14px;
        font-weight: 600;
    }
    .card .title {
        font-size: 1.25rem; /* Smaller heading size for mobile */
    }

    body {
        font-size: 12px;
    }
    button.small {
        font-size: 12px;
    }
    .tab-buttons {
        display: grid;
        width: max-content;
        grid-template-columns: repeat(2, minmax(min-content, 1fr));
        max-width: 90%;
    }
    .tab-buttons button {
        min-width: 100%;
    }
    .flex-row {
        flex-direction: column;
        align-items: center;

    }
    .flex-col {
        flex-direction: row;
    }
}

@media (max-width: 500px) {
    .title {
        max-width: 100%;
    }

    .bio h1 {
        font-size: 2.5rem;
    }

    .bio-content {
        max-width: 350px;

    }

    .tab-buttons {
        gap: 5px;
        max-width: 200px;
    }
    button {
        font-size: 12px;
    }
}