@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');/* Global styles */

:root {
  font-weight: 600;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --black: #1f2029;
  --white: #ddd8c4;
  --accent-dark: #6f8996;
  --accent-light: #fa7921;
  --light: #4e5d73;
  --dark: #2a2c41;

  color-scheme: light dark;
  color: var(--white);
  background-size: 125% 125%;
  background: linear-gradient(133deg, var(--black), var(--dark), var(--black)) center fixed;
}

#root {
  flex-direction: column;
}

html, body {
}

.italic-text {
  font-style: italic;
}
